@import './colors.scss';

html {
  margin-left: 0;
  height: 100vh;

  body {
    background-color: $app-darker;
    color: $app-white;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    letter-spacing: 0.1em;
    margin: 0;
    height: 100%;

    header {
      padding-top: 2vw;
      padding-bottom: 2vw;
      text-align: center;
      border-bottom-style: dotted;
      border-bottom-color: $app-grey;
      background-color: $app-dark;

      h1 {
        font-size: 4rem;
        color: $app-white;
      }
    }

    main {
      text-align: center;
      height: 50%;
      padding: 20px;
    }

    footer {
      padding: 50px;
      text-align: center;
      border-top-color: $app-grey;
      border-top-style: dashed;
      background-color: $app-purple-transparent;
      font-size: small;
    }

    section {
      text-align: center;
      display: inline-block;
    }

    h1 {
      color: $app-blue;
    }

    a {
      text-decoration: none;
      color: $app-white;

      &:hover {
        color: $app-green;
      }
    }

    button {
      padding: 15px;
      font-weight: bold;
      font-size: medium;
      background-color: $app-webAseemblyPurple;
      border: none;
      color: $app-white;
      cursor: pointer;
      border-radius: 12px;
      box-shadow: $app-element-box-shadow;

      &:hover {
        background-color: $app-webAseemblyPurple-brighter;
      }
    }

    .loader {
      visibility: hidden;
    }

    .math-result {
      font-weight: bolder;
      display: block;
    }

    .math-result-correct {
      @extend .math-result;
      color: $app-green;
    }

    .math-result-incorrect {
      @extend .math-result;
      color: $app-red;
    }

    .math-example {
      margin: 15px;
      padding: 30px;
      border-style: dotted;
      border-color: $app-grey;
      background-color: $app-dark;
      display: inline-block;
      width: 400px;
      text-align: center;
      box-shadow: $app-element-box-shadow;

      h1 {
        font-size: 3rem;
      }

      h1,
      h2 {
        display: inline-block;
        margin: 0 0 5px 0;
      }

      h2 {
        font-size: larger;
      }

      input {
        padding: 15px;
        font-weight: bold;
        font-size: large;
        width: 80%;
        text-align: center;
        width: 50%;
      }

      button {
        display: block;
        margin-top: 10px;
        margin: auto;
        margin-top: 10px;
      }
    }
  }
}
