$primary-text-color: #c9c9c9;
$text-blue: #00b8e6;
$webassembly-logo-color: #5100e6;
$background-color: #1a1a1a;
$border-color: #474747;

html {
  margin: 0;
  height: 100vmax;
  width: 100vmax;

  body {
    background-color: $background-color;
    color: $primary-text-color;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    letter-spacing: 0.1em;
    margin: 0;

    header {
      padding-top: 2vw;
      padding-bottom: 2vw;
      text-align: center;
      border-bottom-style: dotted;
      border-bottom-color: $border-color;

      h1 {
        font-size: 4rem;
        color: $primary-text-color;
      }
    }

    main {
      text-align: center;
    }

    footer {
      padding: 8vh;
      text-align: center;
      border-top-color: $border-color;
      border-top-style: dashed;
      margin-top: 15px;
      background-color: #e244da09;
    }

    section {
      text-align: center;
      display: inline-block;
    }

    h1 {
      color: $text-blue;
    }

    a {
      text-decoration: none;
      color: $primary-text-color;

      &:hover {
        color: $text-blue;
      }
    }

    button {
      padding: 15px;
      font-weight: bold;
      font-size: medium;
      background-color: $webassembly-logo-color;
      border: none;
      color: $primary-text-color;
      cursor: pointer;
      border-radius: 12px;

      &:hover {
        background-color: #5d0cf3;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
    }

    .loader {
      visibility: hidden;
    }

    .math-result {
      font-weight: bolder;
    }

    .math-result-correct {
      @extend .math-result;
      color: #0a9929;
    }

    .math-result-incorrect {
      @extend .math-result;
      color: #990f0a;
    }

    .math-example {
      margin: 15px;
      padding: 30px;
      border-style: dotted;
      border-color: $border-color;
      background-color: #1f1e1ed2;
      display: inline-block;
      width: 400px;
      text-align: center;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

      h1 {
        font-size: 3rem;
      }

      h1,
      h2 {
        display: inline-block;
        margin: 0 0 5px 0;
      }

      h2 {
        font-size: larger;
      }

      input {
        padding: 15px;
        font-weight: bold;
        font-size: large;
        width: 80%;
        text-align: center;
        width: 50%;
      }

      button {
        display: block;
        margin-top: 10px;
        margin: auto;
        margin-top: 10px;
      }
    }
  }
}
