$app-green: #0a9929;
$app-red: #be0e0e;
$app-blue: #00b8e6;
$app-white: #c9c9c9;
$app-webAseemblyPurple: #5100e6;
$app-webAseemblyPurple-brighter: #5f0cf8;
$app-darker: #1a1a1a;
$app-dark: #1f1e1ed2;
$app-grey: #474747;
$app-purple-transparent: #e244da09;
$app-element-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
